<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.thym.core.platformSupport" name="Native Platform Support" schema="schema/platformSupport.exsd"/>
   <extension-point id="org.eclipse.thym.core.projectBuilder" name="Native Binary Builder" schema="schema/projectBuilder.exsd"/>
</plugin>
